[Unit]
Description=openEuler Embedded dynamic motd generator
Documentation=https://docs.openeuler.org/
# /run/motd must exist before any login is possible
Before=sshd.service getty.target

[Service]
Type=oneshot
ExecStart=@LIBEXECDIR@/openeuler-motd.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
