/dts-v1/;
/plugin/;
/ {
	fragment@0 {
		target-path = "/";
		__overlay__ {
			reserved-memory {
				#address-cells = <2>;
				#size-cells = <1>;
				ranges;

				mcs@MCS_MEM_AT {
					reg = <0x00 MCS_MEM_START MCS_MEM_SIZE>;
					compatible = "mcs_mem";
					no-map;
				};
			};
		};
	};
};
