/dts-v1/;
/plugin/;

/ {
	fragment@0 {
        target-path = "/";
		__overlay__ {
            reserved-memory {
                #address-cells = <2>;
                #size-cells = <1>;

                mcsconfig: mcs@MCS_MEM_AT {
                    compatible = "mcs_mem";
                    #address-cells = <2>;
                    #size-cells = <1>;
                    reg = <0x0 MCS_MEM_START MCS_MEM_SIZE>;
                };
            };
		};
	};
};
