# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  ##OEROOT##/meta \
  ##OEROOT##/../yocto-meta-openembedded/meta-oe \
  ##OEROOT##/../yocto-meta-openembedded/meta-python \
  ##OEROOT##/../yocto-meta-openembedded/meta-networking \
  ##OEROOT##/../yocto-meta-openembedded/meta-filesystems \
  ##OEROOT##/../yocto-meta-openembedded/meta-multimedia \
  ##OEROOT##/../yocto-meta-openeuler/meta-openeuler \
  ##OEROOT##/../yocto-meta-openeuler/bsp/meta-openeuler-bsp \
  "
