[Unit]
Description=To enable the core module br_netfilter when reboot
After=default.target
[Service]
ExecPreStart=/bin/sh 'sysctl -w net.bridge.bridge-nf-call-ip6tables = 1'
ExecPreStart=/bin/sh 'sysctl -w net.bridge.bridge-nf-call-iptables = 1'
[Install]
WantedBy=default.target
