[Unit]
Description=edgecore.service
Required=br_netfilter.service

[Service]
Type=simple
ExecStartPre=/bin/sh -xc '! /usr/bin/systemctl is-enabled --quiet nm-cloud-setup.service'
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/bin/edgecore
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
