[Unit]
Description=edgecore.service
Required=br_netfilter.service

[Service]
Type=simple
ExecStartPre=-/sbin/modprobe overlay
ExecStart=/usr/bin/edgecore
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
