<build>
    <buildtools>
        <tool name="sdk" tune="arm" hostmachine="x86_64">/usr1/openeuler/gcc/gcc-linaro-7.3.1-2018.05-x86_64_arm-linux-gnueabi</tool>
        <tool name="sdk" tune="aarch64" hostmachine="x86_64">/usr1/openeuler/gcc/gcc-linaro-7.3.1-2018.05-x86_64_aarch64-linux-gnu</tool>
        <tool machine="x86_64">/opt/buildtools/cmake-3.18.3/bin/</tool>
        <tool machine="x86_64">/opt/buildtools/python-3.9.2/bin/</tool>
        <tool machine="x86_64">/opt/buildtools/ninja-1.10.1/bin</tool>
        <tool machine="x86_64">/opt/buildtools/gperf-3.1/bin</tool>
        <tool machine="x86_64">/opt/buildtools/patchelf-0.12/bin/</tool>
        <tool machine="x86_64">/opt/buildtools/chrpath-0.16/bin/</tool>
        <tool machine="x86_64">/opt/buildtools/gcc-7.3.0/bin/</tool>
        <tool name="sdk" tune="aarch64" machine="aarch64">/opt/buildtools/compiler_cpu-v200r007c10b007/</tool>
        <tool machine="aarch64">/opt/buildtools/cmake-3.18.3/bin/</tool>
        <tool machine="aarch64">/opt/buildtools/python-3.9.2/bin/</tool>
        <tool machine="aarch64">/opt/buildtools/ninja-1.10.1/bin</tool>
        <tool machine="aarch64">/opt/buildtools/gperf-3.1/bin</tool>
        <tool machine="aarch64">/opt/buildtools/p7zip-17.03/bin/</tool>
    </buildtools>

    <products_selected>
        <product>arm64le</product>
        <product>arm32le</product>
    </products_selected>
</build>
