# if user wants to add more features when starting isulad using systemd,
# modify this file

[Unit]
Description=isulad container daemon
After=network.target

[Service]
ExecStart=/usr/bin/isulad

[Install]
WantedBy=multi-user.target