# Support for HiSilicon SoC L3 Cache performance monitor, 
# Hydra HomeAgent performance monitor and DDR Controller 
# performance monitor.
# However, this macro control may cause the kernel to freeze
# during runtime, so it is disabled by default; if you need
# to enable it, please manually change it to 'y' or 'm'.
CONFIG_HISI_PMU=n
