COMPILER_INFO="gcc 12.3.0"
KERNEL="kernel"
KERNEL_BRANCH="5.10.0-136.20.0"
MUSLC_BRANCH="master"
COMMON_BRANCH="openEuler-23.09"
GCC="gcc"
GCC_DIR="gcc-12.3.0"
BINUTILS="binutils"
BINUTILS_DIR="binutils-2.40"
MPFR="mpfr"
MPFR_DIR="mpfr-4.2.0"
GMP="gmp"
GMP_DIR="gmp-6.3.0"
MPC="libmpc"
MPC_DIR="mpc-1.3.1"
ISL="isl"
ISL_DIR="isl-0.24"
GLIBC="glibc"
GLIBC_DIR="glibc-2.38"
MUSLC="musl"
MUSLC_DIR="musl-1.2.4"
EXPAT="expat"
EXPAT_DIR="expat-2.5.0"
GETTEXT="gettext"
GETTEXT_DIR="gettext-0.22"
LIBICONV="libiconv"
LIBICONV_DIR="libiconv-1.16"
NCURSES="ncurses"
NCURSES_DIR="ncurses-6.4"
ZLIB="zlib"
ZLIB_DIR="zlib-1.2.13"
GDB="gdb"
GDB_DIR="gdb-12.1"
