#
# To avoid increasing the size of modules, disable
# MODULE_SIG. Also, DEBUG_INFO_BTF is not needed yet.
#
CONFIG_MODULE_SIG_KEY=""
# CONFIG_MODULE_SIG_ALL is not set
# CONFIG_DEBUG_INFO_BTF is not set

#
# Disable unused features to reduce image size
#
# Filesystems:
#
# CONFIG_BTRFS_FS is not set
# CONFIG_EROFS_FS is not set
# CONFIG_EXFAT_FS is not set
# CONFIG_UDF_FS is not set
# CONFIG_9P_FS is not set
# CONFIG_NTFS_FS is not set
# CONFIG_NTFS3_FS is not set
# CONFIG_CEPH_FS is not set
# CONFIG_NFSD is not set
# CONFIG_CIFS is not set
# CONFIG_OCFS2_FS is not set
# CONFIG_LOCKD is not set
# CONFIG_XFS_FS is not set

#
# Networking options
#
# CONFIG_IEEE802154 is not set
# CONFIG_MAC80211 is not set
# CONFIG_IP_SCTP is not set
# CONFIG_OPENVSWITCH is not set
# CONFIG_ATM is not set
# CONFIG_L2TP is not set
# CONFIG_VSOCKETS is not set

#
# Netdevice
#
# CONFIG_NET_VENDOR_3SNIC is not set
# CONFIG_NET_VENDOR_ALACRITECH is not set
# CONFIG_NET_VENDOR_AMAZON is not set
# CONFIG_NET_VENDOR_AMD is not set
# CONFIG_NET_VENDOR_AQUANTIA is not set
# CONFIG_NET_VENDOR_ARC is not set
# CONFIG_NET_VENDOR_ATHEROS is not set

# Disable Broadcom Device
# CONFIG_SCSI_BNX2_ISCSI is not set
# CONFIG_SCSI_BNX2X_FCOE is not set
# CONFIG_NET_VENDOR_BROADCOM is not set
#
# CONFIG_NET_VENDOR_CAVIUM is not set
#
# CONFIG_SCSI_CXGB4_ISCSI is not set
# CONFIG_NET_VENDOR_CHELSIO is not set
#
# CONFIG_NET_VENDOR_GOOGLE is not set
# CONFIG_NET_VENDOR_MUCSE is not set
# CONFIG_NET_VENDOR_MELLANOX is not set
# CONFIG_NET_VENDOR_MICROSEMI is not set
# CONFIG_NET_VENDOR_MYRI is not set
# CONFIG_NET_VENDOR_NETRONOME is not set
# CONFIG_NET_VENDOR_OKI is not set
# CONFIG_NET_VENDOR_PENSANDO is not set
# CONFIG_NET_VENDOR_QLOGIC is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_ROCKER is not set
# CONFIG_NET_VENDOR_SOLARFLARE is not set
# CONFIG_NET_VENDOR_SMSC is not set
# CONFIG_ICE is not set
# CONFIG_I40E is not set
# CONFIG_IXGBE is not set
# CONFIG_IXGBEVF is not set
# CONFIG_FM10K is not set
# CONFIG_IAVF is not set
# CONFIG_BMA is not set
# CONFIG_ATH_COMMON is not set

#
# Display Engine Configuration
#
# CONFIG_DRM_NOUVEAU is not set

# end of unused features
