[Unit]
Description=Init 3591 BSP Drivers/Modules
After=systemd-modules-load.service
Before=cron.service

[Service]
Type=oneshot
ExecStart=/bin/bash /etc/init.d/launch3591rc.sh
Slice=user.slice
Delegate=yes
RemainAfterExit=yes
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
