image root.ext4 {
        ext4 {}
        size = 1G
        mountpoint = "/"
}

image efi-part.vfat {
        vfat {
                file EFI {
                        image = "EFI"
                }
                file Image.gz {
                        image = "Image.gz"
                }
                files = {
			"pe2201-demo-ddr4.dtb",
                        "pe2202-demo-ddr4.dtb",
    			"pe2204-demo-ddr4.dtb",
                }

        }

        size = 400M
}

image @GENIMAGE_OUTPUT_NAME@  {
        hdimage {
                partition-table-type = "gpt"
        }

        partition boot {
                image = "efi-part.vfat"
                partition-type-uuid = c12a7328-f81f-11d2-ba4b-00a0c93ec93b
                offset = 32K
                bootable = true
        }

        partition root {
                partition-type-uuid = 0FC63DAF-8483-4772-8E79-3D69D8477DE4 
                partition-uuid = "0a52c129-7e0f-43ad-989f-d96b07ccdbb2"
                image = "root.ext4"
                size = 1G
        }
}

