image root.ext4 {
	ext4 {}
	size = 1G
	mountpoint = "/"
}

image @GENIMAGE_OUTPUT_NAME@ {
        hdimage {
        }

 	partition uboot {
                in-partition-table = no
                offset = 0
                image = "fip-all.bin"
                size = 4M
        }
        partition bootload {
                in-partition-table = no
                offset = 4M
                image = "fitImage"
                size = 60M
        }
        partition root {
                partition-type = 0x83
                image = root.ext4
                size = 1G
        }

}
