[Unit]
Description=Run openEuler Embedded Iso Installer on %I
After=sysinit.target plymouth-start.service
Before=getty.target
Conflicts=getty.target

[Service]
Type=simple
ExecStart=/init.d/install-efi.sh
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TimeoutSec=0
Restart=on-failure

[Install]
WantedBy=multi-user.target
