# main bb file: ${BB_DIR}

OPENEULER_REPO_NAME = "${NAME}"

PV = "${VERSION}"

SRC_URI:remove = "${ORIG_SRC} \
                  "

SRC_URI:prepend = "${PACKAGE} \
                   ${PATCH} \
                   "

SRC_URI[md5sum] = "${MD5}"
SRC_URI[sha256sum] = "${SHA256}"

S = "${WORKDIR}/${DECOMPRESSION}"

