GCC_MUSL="openeuler_gcc_arm32le-musl"
GCC_MUSL_RELEASE_TAG="toolchains-v0.1.8"
GCC_MUSL_SPLIT_COUNT=3

LLVM="llvm-project"
LLVM_BRANCH="dev_19.1.7"
LLVM_REPO_URL="https://atomgit.com/openeuler/llvm-project"

MUSL="openeuler-musl"
MUSL_REPO_URL="https://atomgit.com/src-openeuler/musl.git"
MUSL_COMMIT="6165d9b475f0101a31ca94bd31563c167a2ba49b"

DOWNLOAD_BASE_URL="https://atomgit.com/openeuler/yocto-meta-openeuler/releases/download"