[Unit]
Description=FB Tool Service with initialization
After=hieulerpi1-bsp.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
ExecStart=/root/sample/ss928_fb_tool
ExecStop=/bin/kill -SIGINT $MAINPID
TimeoutStartSec=30
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
    
