[Unit]
Description=Init Hieuler1 BSP Drivers/Modules
After=systemd-modules-load.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/S90AutoRun
ExecStart=/etc/init.d/pinmux.sh
TimeoutSec=90s

[Install]
WantedBy=multi-user.target
